/* Top bar */
.topBar{
    background: linear-gradient(180deg, #4990E2 0%, #1872D9 100%);
    top: 0;
}

.topBar button{
    border-radius: 16px;
    font-size: 10px;
    height: 24px;
    margin: auto 4px;
}

.topBar button:focus-visible{
    outline: none;
}

/* Top bar elements */
.topBarSection{
    display: flex;
    align-items: center;
}

.leftAlignedBarItems{
    margin-left: 20px;
}

.campaignControlsSection{
    margin-right: 20px;
}

/* Left aligned bar items section */

.activitySection{
    display: flex;
    margin-left: 30px;
    justify-content: space-between;
}

/* logo element */
.logo{
    width: 35px;
    height: auto;
}

/* Activity Section Elements */
.activityBtn{
    align-items: center;
    border: none;
    background: #fff;
    color: #4990E2;
    display: flex;
    justify-content: space-evenly;
    width: 125px;
}

.activityBtnActive{
    color: #fff;
    background: #F54F4F;
}

.activityBtn:hover{
    background: #1872D9;
    color: #ffffff;
}

/* Campaign Section Elements */
.campaignBtn{
    background: none;
    border: 1px solid #BDD9FA;
    color: #fff;
    width: 113px;
}

.campaignBtn:hover{
    background: #BDD9FA;
    color: #4990E2;
}








